<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/workouts" <%- title === 'All Workouts' ? 'class="active"' : '' %>>WORKOUTS</a> 
      <% if (user) { %>
          <a href="/workouts/new" <%- title === 'Create New Workout' ? 'class="active"' : '' %>>ADD WORKOUT</a> 
          <a href="/logout" class="login">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;</a>
        <% } %>
      </nav>
      <main>
    <h1><%= title %></h1>