<%- include('../partials/header') %>

<table id="list">
    <thead>
        <tr>
            <th>Workout</th>
        </tr>
    </thead>
    <tbody>
        <% workout.forEach(function(workout) { %>
            <tr>
                <th><%= workout.name %></th>
                <th><a href="workouts/<%= workout._id %>">Details</a></th>          
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>