<%- include('../partials/header') %>

<form id="new-form" action="/workouts" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <div></div>
    <button type="submit">Add Workout</button>
</form>

<%- include('../partials/footer') %>