* {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-size: x-large;
  color: #fffafa;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #fc9003;
  display: flex;
  align-items: center;
  padding: 0 20px 0 30px;
  color: black;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2d7b3;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  color: black;
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: #fffafa;
  background-color: #f2d7b3;
}

nav > a.active {
  color: black;
  cursor: default;
}


#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-exercise-form *,
#edit-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #fffafa;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #fffafa;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
  color: black;
}

#list a:hover {
  background-color: white;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-exercise-form,
#edit-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 6rem;
}

#add-exercise-form input[type="submit"],
#edit-form input[type="submit"]  {
  width: 10rem;
  grid-column: 2 / 3;
}

#show-page ul {
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
}
  
#show-page li {
  font-weight: bold;
}

.login {
  justify-content: flex-end;
  align-items: center;
  height: 34px;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user img {
  border-radius: 50%;
  height: 40px;
  margin-top: 3rem;
  font-size: x-large;
}

button {
  background-color: black;
}

input{
  color: black;
}