<%- include('../partials/header') %>

<form action="/exercises/<%= exercise.name %>?_method=PUT" method="POST" autocomplete="off">
    <label><b>Name:</b></label>
    <input type="text" name="name"></input>
    <label><b>Sets:</b></label>
    <input type="text" name="sets"></input>
    <label><b>Reps:</b></label>
    <input type="text" name="reps"></input>
    <button type="submit">Update Exercise</button>
</form>

<%- include('../partials/footer') %>